
[Unit]
Description=Run Timeshift snapshot every 12 hours

[Service]
Type=oneshot
ExecStart=/usr/local/bin/New_timeshift-job.sh Other
ExecStartPost=/bin/systemctl suspend
