

[Unit]
Description=Run Timeshift every 12 hours

[Timer]
OnBootSec=17min
OnUnitActiveSec=12h
AccuracySec=1min
Persistent=true
WakeSystem=true
Unit=new_timeshift-8h.service

[Install]
WantedBy=timers.target

