
[Unit]
Description=Run Timeshift every 12 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=12h
AccuracySec=1min
Unit=new_timeshift-8h.service
Persistent=true
WakeSystem=true

[Install]
WantedBy=timers.target


