[Unit]
Description=Run Timeshift snapshot 5 min after boot

[Timer]
OnBootSec=3min
Unit=new_timeshift-boot.service
Persistent=true

[Install]
WantedBy=timers.target

