[Unit]
Description=Timeshift Cleanup Timer (every 3 hours, wakes system)

[Timer]
OnBootSec=1min
OnUnitActiveSec=3h
# OnUnitActiveSec=45min
AccuracySec=1min
Unit=timeshift-cleanup.service
Persistent=true
WakeSystem=true

[Install]
WantedBy=timers.target




