[Unit]
Description=Timeshift Cleanup Script
After=network.target

[Service]
Type=oneshot
User=loganathr20
ExecStart=/usr/local/bin/timeshift_cleanup_cron.sh

