
[Unit]
Description=Run Timeshift cleanup 4 hours after boot daily

[Timer]
OnBootSec=4h
OnUnitActiveSec=24h
Persistent=true

[Install]
WantedBy=timers.target

