[Unit]
Description=Run Timeshift V5 snapshot 5 minutes after boot

[Timer]
OnBootSec=5min
Unit=New_timeshift-boot-v5.service
Persistent=true

[Install]
WantedBy=timers.target

