[Unit]
Description=New: Timeshift snapshot at boot (5 min delay)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/New_timeshift-job-v4.sh Boottime
User=root
WorkingDirectory=/

[Install]
WantedBy=multi-user.target

