[Unit]
Description=Run Timeshift snapshot every 10 hours (first run 30 min after boot)

[Timer]
OnBootSec=30min
OnUnitActiveSec=10h
Unit=New_timeshift-10h.service
Persistent=true

[Install]
WantedBy=timers.target

