[Unit]
Description=Run Timeshift V5 snapshot every 10 hours

[Timer]
OnBootSec=30min
OnUnitActiveSec=10h
Unit=New_timeshift-10h-v5.service
Persistent=true

[Install]
WantedBy=timers.target

