[Unit]
Description=Run Timeshift snapshot at boot (5 min delay)

[Timer]
OnBootSec=5min
Unit=New_timeshift-boot.service
Persistent=true

[Install]
WantedBy=timers.target

