[Unit]
Description=Run Linux Hardware Health Report every 4 hours

[Timer]
OnBootSec=8min
OnUnitActiveSec=22h
Persistent=true
WakeSystem=true
Unit=linux_hardware_report.service

[Install]
WantedBy=timers.target


